/* HEADER SECTION */

#header {
	border-bottom: 5px solid #ddd;
}

/* SEARCH SECTION */

#search-div {
	padding: 30px;
}

#search-field {
	width: 90%;
	height: 50px;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	border: 3px solid #fff;
	font-size: 20px;
	transition: 0.5s;
}

#search-field:hover {
  	outline: 0;
  	border: 3px solid #ccc;
  	transition: 0.5s;
}

#search-field:focus {
  	outline: 0;
  	border: 3px solid #446688;
  	transition: 0.2s;
}

#search-icon {
	position: relative;
	left: -45px;
	top: 8px;
	font-size: 27px;
	color: #ccc;
}

#search-button {
	height: 50px;
	width: 100%;
}

/* TAGS SECTION */

#tags-title {
	font-size: 15px;
	margin: 2px;
	color: #aaa;
}

#tags-section {
	margin-top: 15px;
	color: #000;
}

.tag {
	display: inline-block;
	margin: 2px;
	font-size: 15px;
	background: #bbb;
	color: #fff;
	transition: 0.1s;
	cursor: pointer;
}

.tag:hover {
	display: inline-block;
	background: #446688;
	color: #fff;
	transition: 0.1s;
}

/* NAVIGATION SECTION */

.nav-button {
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
}

.nav-button:hover {
	background: #446688;
	transition: 0.3s;
}

.nav-div {
	text-align: center;
}

/* RESULTS SECTION */

#results-header {
	padding: 5px 30px;
}

#results-container {
	margin-top: 30px;
	padding: 0px 30px 60px 30px;
}

.result-row {
	margin: 0px;
	padding: 10px;
	border: none;
	border-bottom: 2px solid #eee;
	border-radius: 0px;
	transition: 0.3s;
}

.result-row:hover {
	border-bottom: 2px solid ##a9bfd3;
	background: #f7f9fb;
	transition: 0.3s;
}

.result-row div {
	display: flex;
	flex-direction: column;
	height: 80px;
	justify-content: center;
	align-items: start;
}

.views {
	font-size: 15px;
	background: #446688;
}
